.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
  }
