.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.date {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 10vh;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
    font-size: 25px;
    text-align: center;
  }
